# Node
.git
.gitignore
node_modules/
.next/
out/

# Tests
tests/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
coverage/

# Environment
.env
.env.*
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
